@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  width: 100%;
  background-color: rgb(19, 187, 19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(82, 182, 82);
}
.list ul {
  display: flex;
}
.list ul li {
  margin-left: 1rem;
  list-style: none;
}
.list ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  position: relative;
}
.list ul li a::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  height: 3px;
  width: 0;
  transform: translateX(-50%);
  background-color: greenyellow;
  transition: all 0.3s ease-in-out;
}
.list ul li a:hover:before {
  width: 100%;
}
.list ul li a:focus {
  background-color: greenyellow;
  opacity: 0.2px;
  border-radius: 20px;
}
.list ul li a:focus::before {
  width: 0%;
}

.input-text {
  outline: none;
  border: 1px solid greenyellow;
  border-radius: 2rem 0 0 2rem;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(95, 228, 83);
  box-shadow: inset 0 5px 10px rgb(113, 226, 113);
}
.input-text::placeholder {
  color: white;
}
.recherche button {
  background-color: green;
  box-shadow: inset 0 5px 10px rgb(95, 223, 95);
  padding: 0.2rem 0.5rem;
  border-radius: 0 2rem 2rem 0;
  color: white;
  font-size: 1rem;
  outline: none;
  border: 1px solid rgb(48, 221, 48);
}
.addfilm button {
  background-color: green;
  box-shadow: inset 0 5px 10px rgb(95, 223, 95);
  padding: 0.2rem 0.5rem;
  border-radius: 0 2rem 2rem 0;
  color: white;
  font-size: 1rem;
  outline: none;
  border: 1px solid rgb(48, 221, 48);
}
